<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @website.name %>
</p>

<% content_for :sidebar do %>
<ul>
 <li> <%= link_to 'Edit', edit_website_path(@website) %> </li>
 <li> <%= link_to 'Back', websites_path %> </li>
</ul>
<%end%> 
