body { background-color: #fff; color: #333; }

body div#container_16 {

  padding : 0;
  margin: 0;
  border: 2px solid black;
  height: 100%;
}


div#header {
  padding : 0;
  margin : 0;
  height: 40px;
  border-bottom: 5px solid black;
   
}

div#header h1 {
 color : #1A0D83;
 font: 35px "Tohoma , Helvetica, san-seriff" ;
 font-weight: normal;
 text-align: center;
 margin: 0px;
 padding: 0px;
 letter-spacing: 5px;
 background-color: #DDD;
 
}


div#body {
 padding: 0;
 margin : 0;
 height : 600px;
 border: 2px solid black;
 border-bottom:none;
}

div#main-content {
 
 width : 920px;
 height : 600px;
 float:left; 

}


div#sidebar {
 width : 300px;
 float:right;
 height: 600px;
 border-left: 5px solid black;
}

div#sidebar ul {
 display: block;
 border: 1px solid black;
 margin-left: 20px;
 width:  200px;
 height: 40px;
 list-style :none;
 background-color: #EAEADE;

 

}

div#sidebar ul li {
  margin-left: 5px;
  padding : 10px;
}

div#sidebar ul li > a {
 font-size: 18px;
 font-weight: bold;
 color: #555;
 text-align: top-left;
 text-transform: uppercase;
 text-decoration: none;
}

div#sidebar ul:hover {
  background-color: #CAD2F3; 
  z-index: 1px;
}



table.listing {
 font-family: Arial, "MS Trebuchet", sans-serif;  
 position: absolute;
 left: 200px;
 top:  150px;
 width : 400px;
 height: 150px;
 border-collapse: collapse;
 text-align: center;
 border : 5px solid;
 
}

table.listing tr {
 border-bottom : 1px solid #CCC;
}

table.listing tr td {
  height:  45px;
  padding: 10px;
  width:   30px; 
}

table.listing thead tr td {
 height: 35px;
 background-color: #F3DA2F;
 border-bottom: 3px solid black;
 padding: 0px;
}

table.listing input#group_submit {
 width: 120px;
 height: 40px;
}

table.listing input#website_submit {
 width: 120px;
 height: 40px;
}

table.listing input#user_submit {
 width: 120px;
 height: 40px;
}

div#heading {
  position: absolute;
  left: 350px;
  
}

table.gradient {
 position: absolute;
 left: 350px;
 top: 150px;
 width: 200px;
 height: 200px;
 border: 2px solid black;
 border-collapse: collapse;
}

/*table.gradient tr th {
 border: 2px solid;
} */
table.gradient thead tr th {
 padding: 0px;
 background-color: #F3DA2F;
 border-bottom: 5px solid black;
 height: 20px; 
}

table.gradient tbody tr td {
 text-align: center;
 border: 2px solid black;
 padding: 0px;
}

/*table.listing tr td {
  text-align: center;
  border-bottom: 1px solid #AAA; 
}
*/
div#footer {
 border: 5px solid black;
 border-top: none;
 font: 12px "Lucida Grande", "Trebuchet MS", "Verdana", "sans-serif";
 background-color: #FDE3A8;
 text-align: center;
}
