<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<% content_for :sidebar do %>
<ul>
<li> <%= link_to 'Edit', edit_user_path(@user) %> </li>
<li> <%= link_to 'Back', users_path %> </li>
</ul>
<%end%>
